@model IEnumerable<SentosaWebsite.Models.Attraction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Attraction Name      
        <th>
            Description
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.atName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.atDes)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
            @Html.ActionLink("Create ticket", "CreateTicket", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }) |
            @Html.ActionLink("Display", "DetailsTicketPrice", new { id = item.ID })
              @Html.ActionLink("Display", "DetailTicketPricing", new { id = item.ID })
        </td>
    </tr>
}

</table>
